[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
numpy = "==1.19.4"
torch = "==1.6.0"
pyyaml = "==5.3.1"
opencv-python = "==4.4.0.46"

[requires]
python_version = "3.8"
